{% load static %}
<footer
  class="text-center text-lg-start text-dark"
  style="background-color: #eceff1"
>
  <section
    class="d-flex justify-content-between p-4 text-white"
    style="background-color: #17a2b8"
  >
    <div>
      <a href="" class="text-white me-4">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="" class="text-white me-4">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="" class="text-white me-4">
        <i class="fab fa-google"></i>
      </a>
      <a href="" class="text-white me-4">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="" class="text-white me-4">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="" class="text-white me-4">
        <i class="fab fa-github"></i>
      </a>
    </div>
  </section>

  <section class="">
    <div class="container text-center text-md-start mt-5">
      <div class="row mt-3">
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold">PowerTienda</h6>
          <hr
            class="mb-4 mt-0 d-inline-block mx-auto"
            style="width: 60px; background-color: #0edfff; height: 2px"
          />
          <p>
            Here you can use rows and columns to organize your footer content.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          </p>
        </div>

        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold">Lorem</h6>
          <hr
            class="mb-4 mt-0 d-inline-block mx-auto"
            style="width: 60px; background-color: #0edfff; height: 2px"
          />
          <p>
            <a href="#!" class="text-dark">Lorem</a>
          </p>
          <p>
            <a href="#!" class="text-dark">Lorem</a>
          </p>
          <p>
            <a href="#!" class="text-dark">Lorem</a>
          </p>
          <p>
            <a href="#!" class="text-dark">Lorem Lorem</a>
          </p>
        </div>

        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold">Lorem Lorem</h6>
          <hr
            class="mb-4 mt-0 d-inline-block mx-auto"
            style="width: 60px; background-color: #0edfff; height: 2px"
          />
          <p>
            <a href="#!" class="text-dark">Lorem Lorem</a>
          </p>
          <p>
            <a href="#!" class="text-dark">Lorem an Lorem</a>
          </p>
          <p>
            <a href="#!" class="text-dark">Lorem Lorem</a>
          </p>
          <p>
            <a href="#!" class="text-dark">Lorem</a>
          </p>
        </div>
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <h6 class="text-uppercase fw-bold">Lorem</h6>
          <hr
            class="mb-4 mt-0 d-inline-block mx-auto"
            style="width: 60px; background-color: #0edfff; height: 2px"
          />
          <p><i class="fas fa-home mr-3"></i> Lorem Lorem, Lorem 10012, US</p>
          <p><i class="fas fa-envelope mr-3"></i> Lorem@Lorem.com</p>
          <p><i class="fas fa-phone mr-3"></i> + 1234567898</p>
          <p><i class="fas fa-print mr-3"></i> + 123456789</p>
        </div>
      </div>
    </div>
  </section>
  <div
    class="text-center p-3"
    style="background-color: rgba(61, 212, 223, 0.2)"
  >
    © 2023 Copyright:
    <a class="text-dark" href="#">powertienda.com</a>
  </div>
</footer>
