{% load static %}

<!--NAVBAR-->
<var></var>
<nav class="navbar navbar-expand-lg navbar-dark p-3 bg-info" id="headerNav">
  <div class="container-fluid">
    <a class="navbar-brand d-block d-lg-none" href="{% url 'index' %}">
      <img src="{% static '/img/etc/logo.png'%}" height="80" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a
            class="nav-link mx-2 active"
            aria-current="page"
            href="{% url 'index' %}"
            >Inicio</a
          >
        </li>
        <li class="nav-item dropdown active">
          <a
            class="nav-link mx-2 dropdown-toggle"
            href="#"
            id="navbarDropdownMenuLink"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Productos
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li>
              <a class="dropdown-item" href="{% url 'cinturones' %}"
                >Cinturones</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="{% url 'munequeras' %}"
                >Muñequeras</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="{% url 'rodilleras' %}"
                >Rodilleras</a
              >
            </li>
          </ul>
        </li>

        <li class="nav-item d-none d-lg-block active">
          <a class="nav-link mx-2" href="{% url 'index' %}">
            <img src="{% static '/img/etc/logo.png'%}" height="80" />
          </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link mx-2" href="{% url 'contacto' %}">Contacto</a>
        </li>
        {% if request.user.is_authenticated %}
        <li class="nav-item dropdown">
          <a
            class="nav-link mx-2 dropdown-toggle active"
            href="#"
            id="navbarDropdownMenuLink"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Hola {{ request.user.username }}
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            {% if user.is_staff %}
            <li>
              <a class="dropdown-item" href="{% url 'agregar' %}"
                >Agregar Productos</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="{% url 'listar' %}"
                >Modificar Productos</a
              >
            </li>
            {% endif %}
            <li>
              <a class="dropdown-item" href="{% url 'logout_user' %}"
                >Cerrar Sesión</a
              >
            </li>
          </ul>

          {% else %}
        </li>

        <li class="nav-item active">
          <a class="nav-link mx-2" href="{% url 'login_user' %}"
            >Iniciar Sesión</a
          >
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
<!-- fin BARRA NAVEGACION-->
